meta(charset="utf-8")
meta(name="description", content="Project Description")
meta(name="keywords", content="keywords")
meta(name="author", content="James Newell")

// Mobile Specific
meta(name="viewport", content="width=device-width, initial-scale=1.0")
title Project Title

// <link rel="icon" type="image/ico" href="/img/favicon.ico">
// HTML5 shim, for IE6-8 support of HTML5 elements
//
  if lt IE 9
  script(src='//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
  script(src='//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
